html {
  box-sizing: border-box;
}

* ::after ::before {
  box-sizing: inherit;
}

body {
  text-align: center;
  background-color: rgb(33, 35, 63);
}

img {
  margin: 3px;
}

.secondary {
  padding: 10px;
  margin: 10px;
}

.gif-container {
  margin: 5rem;
  padding: 1rem;
}

.contact {
  margin-top: 5rem;
}

.message {
  max-width: 100%;
  min-width: 10vw;
}
